* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
}

/* Header/Blog Title */
.header {
    padding: 30px;
    text-align: center;
    background: white;
}

.header h1 {
    font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
    overflow: auto;
    position: fixed;
    width: 100%;
    margin-bottom: 20px;
    top: 0%;
    left: 0%;
    background-color: #ffcc33;
    color: black;
}

/* Style the topnav links */
.topnav a {
    margin-left: 10%;
    margin-right: 10%;
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    color: #ffffff;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    margin: 15px 0px 0px 165px;
    float: left;
    width: 55%;
}

/* Right column */
.rightcolumn {
    position: fixed;
    margin: 15px 0px;
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin: 10px 0px 0px 0px;
    border-radius: 4px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {

    .leftcolumn,
    .rightcolumn {
        clear: both;
        left: 0%;
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        clear: both;
        left: 0%;
        width: 100%;
    }
}